*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #000000;
}

h1{
    font-size: 4rem;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

img{
    width: 600px;
    height: 600px;
    border-radius: 10%;
    margin-bottom: 20px;
    background-color: #ffffff;
}